name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          
    - name: Install dependencies
      run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt
      working-directory: travel_itinerary

    - name: Install test dependencies
      run: pip install pytest

    - name: Install flake8
      run: pip install flake8

    - name: Lint with flake8
      run: flake8 . --count --select=E9,F63,F7,F82 --exclude=./travel_itinerary/.venv --show-source --statistics
    
    - name: Install Selenium
      run: pip install selenium  

    - name: Set DJANGO_SETTINGS_MODULE
      env:
        DJANGO_SETTINGS_MODULE: travel_itinerary.settings
      run: |
        pytest
      working-directory: travel_itinerary

    - name: Test with pytest
      run: pytest
